.order-card-container {
  background-color: #FFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.order-card-container.selected {
  border: 4px solid #008E5B;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.order-card-container:hover {
  transform: scale(1.01);
}

.order-card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: var(--primary-color);
  text-align: center;
}

.order-card-container.selected .order-card-title {
  color: #008E5B;
}

.order-card-image {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.order-card-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: var(--primary-color);
  text-align: left;
}

.order-card-container.selected .order-card-price {
  color: #008E5B;
}

.order-card-description {
  border-top: 1px solid #E6E6E6;
  margin-top: 15px;
  padding-top: 15px;
}

.order-card-description h3 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: var(--secondary-color);
}

.order-card-description p {
  margin-top: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.015em;

  color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
  .orders-steps-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 90%;
  }

  .steps-items {
    padding: 0
  }

  .order-location-content {
    width: 90%;
  }

  .order-location-container {
    margin-bottom: 20px;
  }

  .order-summary-content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .order-summary-make-order {
    margin-top: 15px;
    width: 100%;
  }
}
